h1 {
    font-size: 1.5rem;
    color: white;
}

body {
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

h3 {
    text-align: center
}

h4 {
    text-align: center
}

.cities {
    display: flex;
    flex-wrap: wrap;
}

.city {
    padding: 2rem;
    text-align: center;
}

div>img {
    object-fit: cover;
    width: 20rem;
    height: 20rem;
    border-radius: 1.75rem;
}

.caption {
    display: block;
}

a {
    text-decoration: none;
    font-size: 2.5rem;
    background-color: #f88e8e;
    border-radius: 0.5rem;
    color: white;
    margin: 1rem;
    padding: 1rem 1rem;
    font-size: 2.5rem;
}

div.nav {
    background-color: #f54343;
    display: flex;
    line-height: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

div.nav>img {
    width: 7rem;
    height: 7rem;
    border-radius: 1.5rem;
    padding-right: 1rem;
}

div.end {
    background-color: #f54343;
    color: white;
    text-align: center;
    margin-bottom: 0%;
}

div.end>h3 {
    font-size: 1rem;
}